<!-- ...:::: Start Breadcrumb Section:::... -->
<style>
  /* .wrap-payment-method {
    display: flex;
    align-items: center;
  }
  .wrap-payment-method div {
    margin-right: 15px;
  } */
</style>
<div class="breadcrumb-section breadcrumb-bg-color--golden">
  <div class="breadcrumb-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h3 class="breadcrumb-title">Checkout</h3>
          <div
            class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden"
          >
            <nav aria-label="breadcrumb">
              <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="shop-grid-sidebar-left.html">Shop</a></li>
                <li class="active" aria-current="page">Checkout</li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ...:::: End Breadcrumb Section:::... -->

<!-- ...:::: Start Checkout Section:::... -->
<div class="checkout-section">
  <div class="container">
    <div class="row">
      <!-- User Quick Action Form -->
      <div class="col-12">
        <div
          class="user-actions accordion"
          data-aos="fade-up"
          data-aos-delay="0"
        >
          <h3>
            <i class="fa fa-file-o" aria-hidden="true"></i>
            Returning customer?
            <a
              class="Returning"
              href="#"
              data-bs-toggle="collapse"
              data-bs-target="#checkout_login"
              aria-expanded="true"
              >Click here to login</a
            >
          </h3>
          <div
            id="checkout_login"
            class="collapse"
            data-parent="#checkout_login"
          >
            <div class="checkout_info">
              <p>
                If you have shopped with us before, please enter your details in
                the boxes below. If you are a new customer please proceed to the
                Billing &amp; Shipping section.
              </p>
              <form action="#">
                <div class="form_group default-form-box">
                  <label>Username or email <span>*</span></label>
                  <input type="text" />
                </div>
                <div class="form_group default-form-box">
                  <label>Password <span>*</span></label>
                  <input type="password" />
                </div>
                <div class="form_group group_3 default-form-box">
                  <button
                    class="btn btn-md btn-black-default-hover"
                    type="submit"
                  >
                    Login
                  </button>
                  <label class="checkbox-default">
                    <input type="checkbox" />
                    <span>Remember me</span>
                  </label>
                </div>
                <a href="#">Lost your password?</a>
              </form>
            </div>
          </div>
        </div>
        <div
          class="user-actions accordion"
          data-aos="fade-up"
          data-aos-delay="200"
        >
          <h3>
            <i class="fa fa-file-o" aria-hidden="true"></i>
            Returning customer?
            <a
              class="Returning"
              href="#"
              data-bs-toggle="collapse"
              data-bs-target="#checkout_coupon"
              aria-expanded="true"
              >Click here to enter your code</a
            >
          </h3>
          <div
            id="checkout_coupon"
            class="collapse checkout_coupon"
            data-parent="#checkout_coupon"
          >
            <div class="checkout_info">
              <form action="#">
                <input placeholder="Coupon code" type="text" />
                <button
                  class="btn btn-md btn-black-default-hover"
                  type="submit"
                >
                  Apply coupon
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- User Quick Action Form -->
    </div>
    <!-- Start User Details Checkout Form -->
    <% if (order.status === "khoitao") { %> <% var isDisable = ''; %> <% } else
    { %> <% var isDisable = 'disabled'; %> <% } %>

    <div class="checkout_form" data-aos="fade-up" data-aos-delay="400">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <form action="/dat-hang" method="post">
            <h3>Billing Details</h3>
            <% if (order.status !== "khoitao") { %>
              <p class="text-danger">Đơn hàng đã đặt, không thể thay đổi thông tin (<strong >*</strong>)</p>
              <% } %>
            <div class="row">
              <div class="col-12">
                <div class="default-form-box">
                  <label>Name <span>*</span></label>
                  <input type="text" name="name" value="<%= order.name %>" required <%= isDisable %>/>
                </div>
              </div>

              <div class="col-12">
                <div class="default-form-box">
                  <label>Address</label>
                  <input
                    type="text"
                    name="address"
                    value="<%= order.address %>"
                    <%= isDisable %>
                  />
                </div>
              </div>
              <div class="col-lg-6">
                <div class="default-form-box">
                  <label>Phone<span>*</span></label>
                  <input type="text" name="phone" value="<%= order.phone %>" required <%= isDisable %>/>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="default-form-box">
                  <label> Email Address <span>*</span></label>
                  <input type="text" name="email" value="<%= order.email %>" required <%= isDisable %>/>
                </div>
              </div>
            </div>
            <% if (order.status === "khoitao") { %>
            <button
              type="submit"
              name="dathang"
              class="btn btn-secondary"
              style="color: white"
              value="<%= order._id %>"
            >
              Đặt hàng
            </button>
            <% } %>
          </form>
        </div>
        <div class="col-lg-6 col-md-6">
          <form action="#">
            <h3>Your order</h3>
            <div class="order_table table-responsive">
              <table>
                <thead>
                  <tr>
                    <th>Product</th>
                    <th>Total</th>
                  </tr>
                </thead>
                <tbody>
                  <% detailOrder.items.forEach(function(item) { %>
                  <tr>
                    <td>
                      <%= item.productId.name %>
                      <strong> × <%= item.qty %></strong>
                    </td>
                    <td><%= numberToMoney( item.price) %></td>
                  </tr>
                  <% }) %>
                </tbody>
                <tfoot>
                  <tr>
                    <th>Cart Subtotal</th>
                    <td><%= numberToMoney(order.subTotal) %></td>
                  </tr>

                  <tr class="order_total">
                    <th>Order Total</th>
                    <td>
                      <strong><%= numberToMoney(order.subTotal) %></strong>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
            <div class="payment_method"></div>
          </form>
          <% if (order.isPay === false && order.status=="khoitao") { %>
          <p>
            Hãy nhập đầy đủ thông tin đơn hàng trước khi thanh toán (<strong
              class="text-danger"
              >*</strong
            >)
          </p>
          <% } else if (order.isPay === false && order.status=="dathang") { %>
          <p>
            Đơn hàng chưa được thanh toán, thanh toán ngay (<strong
              class="text-danger"
              >*</strong
            >)
          </p>
          <div class="wrap-payment-method row">
            <div class="order_button col-md-4">
              <div id="paypal-button"></div>
            </div>
            <form class="col-md-4" action="/create_payment_url" method="post">
              <input type="hidden" name="total" value="<%= order.total %>">
              <button type="submit" name="vnpayment" value="<%= order._id %>" class="btn btn-md btn-black-default-hover">
                VNPAY PAYMENT
              </button>
            </form>
            <form class="col-md-4" action="/create_payment_MoMo" method="post">
              <input type="hidden" name="total" value="<%= order.total %>">
              <button
                type="submit"
                class="btn btn-md"
                name="momopayment" value="<%= order._id %>"
                style="
                  background-color: #c12b88;
                  border: 1px solid #df068c;
                  color: white;
                "
              >
                MOMO PAYMENT
              </button>
            </form>
          </div>
          <% } else { %>
          <p>Xác nhận đơn hàng (<strong class="text-danger">*</strong>)</p>

          <form class="col-md-4" action="/xac-nhan-don-hang" method="post">
            <button type="submit" class="btn btn-md btn-black-default-hover">
              Đã nhận đơn hàng
            </button>
          </form>
          <% } %>
        </div>
      </div>
    </div>
    <!-- Start User Details Checkout Form -->
  </div>
</div>
<script src="https://www.paypalobjects.com/api/checkout.js"></script>
<script>
  paypal.Button.render(
    {
      // Configure environment
      env: "sandbox",
      client: {
        sandbox:
          "AZXOxgM0XTHlojwfv571fle1PEEGFLKyudTYaMbgGWgBuNfJe87b_7HFZIm8TbhjxfCBWMORfPqQYsh4",
        production: "demo_production_client_id",
      },
      // Customize button (optional)
      locale: "en_US",
      style: {
        size: "small",
        color: "gold",
        shape: "pill",
      },

      // Enable Pay Now checkout flow (optional)
      commit: true,

      // Set up a payment
      payment: function (data, actions) {
        return actions.payment.create({
          transactions: [
            {
              amount: {
                total: "0.01",
                currency: "USD",
              },
            },
          ],
        });
      },
      // Execute the payment
      onAuthorize: function (data, actions) {
        return actions.payment.execute().then(function () {
          // Show a confirmation message to the buyer
          console.log(data);
          window.alert("Thanh toán thành công. Cảm ơn bạn đã sử dụng dịch vụ!");
          $.ajax({
            url : '/checkout-paypal',
            method : "post",
            dataType: "json",
            data : { code : data.paymentID, mode: "PAYPAL", orderId : "<%= order._id %>", status : "success", amount: "0.01 USD"  }
          }).done(function(res) {
            if(res == "success"){
              location.reload();
            }
          })
        });
      },
    },
    "#paypal-button"
  );
</script>

<!-- ...:::: End Checkout Section:::... -->
