<h4 class="fw-bold mb-4"><span class="text-muted fw-light">Sản phẩm/</span> Danh sách sản phẩm</h4>
<style>
  .table th {
    text-transform: none !important;
  }
  
  .img-product {
    width: 50px;
    height: 50px;
    float: left;
  }
</style>
<div class="card card-body">
  <table class="table table-border table-hover" id="example">
    <thead>
      <th class="text-center">STT</th>
      <th>Sản phẩm</th>
      <th>Thời gian tạo</th>
      <th>Cập nhật lần cuối</th>
      <th>Thao tác</th>
    </thead>
    <tbody>
      <% productAll.forEach(function(product, i) { %>
        <tr>
          <td class="text-center">
            <%= i+1%>
          </td>
          <td>
            <img class="img-product" style="margin-right:5px;" src="<%= product.img[0]%>" alt="" />
            <%= product.name %>
          </td>

          <td>
            <%= formatDate(product.createdAt) %>
          </td>
          <td>
            <%= formatDate(product.updatedAt) %>
          </td>
          <td>
            <a href="#" data-bs-toggle="modal" data-bs-target="#largeModal">Chỉnh sửa</a>
          </td>
        </tr>
        <% }) %>

    </tbody>
  </table>
</div>
<div class="modal fade" id="largeModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg" style="height: 90%;" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel3">Lịch sử thay đổi giá <small style="color: #697a8d !important;" class="maSp"></small></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body content-modal" style="justify-content: space-between;">
        
      </div>

    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
    $('#example').DataTable();
  });
</script>